body {
  background-image: url('../icons/27157344-free-utah-wallpapers.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}